p Hello,
p We are from team B2B - Buy2Build. We are here to inform you that
p YOUR PASSWORD HAS BEEN SUCCESSFULLY CHANGED.
p You can now click the URl below to get back to the log in page.
p Please sign in with your new password.
br/
.input-align
    = link_to "#{new_host_session_url}", new_host_session_url 
br/
p Thank you so much for your support.
p Hope you have a nice day! 
p B2B.
