p Hello,
p We are from team B2B - Buy2Build. We are here to help you reset your password.
p Please change your password in the URL below and log in with your email.
br/
.input-custom
    = link_to "#{edit_password_url(@resource, reset_password_token: @token)}", edit_password_url(@resource, reset_password_token: @token)
br/
p Thank you so much.
p Hope you have a nice day! 
p B2B.

