<div class="top_main_wrap">
  <div class="top_main_view">
    <section class="ex_mv_wrap">
      <div class="">
        <h1 class="ex_main_title">
	        Blog
          <img src="static/images/common/spring_icon.png" alt="find things to do in Fukuoka">
        </h1>
        <div class="pankuzu_wrap">
          <div class="common_inner">
            <ul class="pankuzu_list">
              <li class="pankuzu_item">
                <a href="">Top</a>
              </li>
              <li class="pankuzu_item">
                <span>Blog</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="top_mv_filter" id="MvExpFilter"></div>  
        <div class="ex_main_block">
          <div class="ex_main_block_inner">
            <div class="ex_main_left">
              <div class="ex_main_pic" style="background: url(static/images/ex/sample_pic.jpg) center center no-repeat;background-size: cover;">
                <span class="blog_main_left_tag">Gourmet</span>
                <div class="blog_main_center_block">
	                <h2 class="title"><a href="">Hakata Ramen - ikkousha -</a></h2>
	                <div class="bottom">
		                <ul class="tag_list">
			                <li>
			                	<a href="" class="tag">
				                	#Ramen
			                	</a>
			                </li>
			                <li>
			                	<a href="" class="tag">
				                	#Photogenic
			                	</a>
			                </li>
			                <li>
			                	<a href="" class="tag">
				                	#High Ratings
			                	</a>
			                </li>
		                </ul>
		                <div class="people" style="background: url(static/images/common/sample_pic.jpg) center center no-repeat;background-size: cover;"></div>
	                </div>
                </div>
                <span class="blog_main_place_tag">
                	<img src="static/images/common/place_icon_w.png">
                	<a href="">Momochihama</a>
                </span>
              </div>
            </div>
            <div class="ex_main_right">
              <form action="" method="" class="ex_main_form">
        				<div class="header_search_block ex_main_search">
<!--         					<input type="text" name="categories" class="blog_search_cat"> -->
                  <div class="header_exp_block">
        					  <input type="text" name="cat" class="blog_search_cat" id="BlogCat">
        					  <div class="header_exp_popup" id="BlogCatPop">
  							
        							<div class="" id="BlogCat_Choose">
              				  <ul class="top_mv_place_list">
                				  <li class="top_mv_place_item" data-cat="shopping">shopping</li>
                				  <li class="top_mv_place_item" data-cat="culture">culture</li>
              				  </ul>
              				</div>
          							
          				  </div>
        					</div>
        					<input type="text" name="keywords" class="blog_search_key">
<!-- 									<input type="text" name="place" class="header_search_place"> -->
                  <div class="header_exp_block">
        					  <input type="text" name="place" class="header_search_place" id="ExSearchPlace">
        					  <div class="header_exp_popup" id="ExPlacePop">
  							
        							<div class="" id="EXSearchPlace_Choose">
              				  <ul class="top_mv_place_list">
                				  <li class="top_mv_place_item" data-explace="博多 hakata">博多 hakata</li>
                				  <li class="top_mv_place_item" data-explace="天神 tenjin">天神 tenjin</li>
                				  <li class="top_mv_place_item" data-explace="中洲 Nakasu">中洲 Nakasu</li>
                				  <li class="top_mv_place_item" data-explace="大濠公園 Ohori Park">大濠公園 Ohori Park</li>
                				  <li class="top_mv_place_item" data-explace="百道浜 Momochihama">百道浜 Momochihama</li>
                				  <li class="top_mv_place_item" data-explace="西新 Nishijin">西新 Nishijin</li>
                				  <li class="top_mv_place_item" data-explace="西区 Nishiku">西区 Nishiku</li>
                				  <li class="top_mv_place_item" data-explace="東区 Higashiku">東区 Higashiku</li>
              				  </ul>
              				</div>
          							
          				  </div>
        					</div>
        					<input type="submit" value="検索" class="header_search_submit">
        				</div>
        			</form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="common_inner">
      <section class="ex_list_block">
        <div class="ex_list_top_area">
          <p class="ex_list_num"><span>73</span><span>/</span><span>73</span> articles</p>
          <ul class="ex_list_up_pager">
            <li class="ex_list_up_pager_item">
              <a href="" class="prev">
                <img src="static/images/ex/left_icon01.png">
              </a>
            </li>
            <li class="ex_list_up_pager_item">
              <a href="" class="common active">
                1
              </a>
            </li>
            <li class="ex_list_up_pager_item">
              <a href="" class="common active">
                2
              </a>
            </li>
            <li class="ex_list_up_pager_item">
              <a href="" class="common active">
                3
              </a>
            </li>
            <li class="ex_list_up_pager_item">
              ...
            </li>
            <li class="ex_list_up_pager_item">
              <a href="" class="common active">
                7
              </a>
            </li>
            <li class="ex_list_up_pager_item">
              <a href="" class="next">
                <img src="static/images/ex/right_icon01.png">
              </a>
            </li>
          </ul>
        </div>
        <section class="blog_ranking_wrap clearfix">
	        <article class="blog_ranking_block">
		        <a href="" class="link clearfix">
			        <img src="static/images/blog/rank_icon01.png" class="num_pic">
			        <div class="right">
				        <div class="pic" style="background: url(static/images/common/sample_pic.jpg) center center no-repeat;background-size: cover;">
					        <span class="tag">Culture</span>
				        </div>
				        <h1 class="title">Souvenirs in Hakata station</h1>
			        </div>
		        </a>
	        </article>
	        <article class="blog_ranking_block">
		        <a href="" class="link clearfix">
			        <img src="static/images/blog/rank_icon02.png" class="num_pic">
			        <div class="right">
				        <div class="pic" style="background: url(static/images/common/sample_pic.jpg) center center no-repeat;background-size: cover;">
					        <span class="tag">Culture</span>
				        </div>
				        <h1 class="title">Souvenirs in Hakata station</h1>
			        </div>
		        </a>
	        </article>
	        <article class="blog_ranking_block">
		        <a href="" class="link clearfix">
			        <img src="static/images/blog/rank_icon03.png" class="num_pic">
			        <div class="right">
				        <div class="pic" style="background: url(static/images/common/sample_pic.jpg) center center no-repeat;background-size: cover;">
					        <span class="tag">Culture</span>
				        </div>
				        <h1 class="title">Souvenirs in Hakata station</h1>
			        </div>
		        </a>
	        </article>
	        
        </section>
        
        <section class="blog_main_wrap">
	      	<article class="blog_common_block clearfix">
		      	<a href="" class="blog_pic" style="background: url(static/images/common/sample_pic.jpg) center center no-repeat;background-size: cover;">
			      	<span class="tag">Shopping</span>
		      	</a>
		      	<div class="right">
			      	<a href="" class="blog_main_link">
				      	<h1 class="title">Souvenirs in Hakata station</h1>
				      	<p class="text">
					      	There are plenty of regular souvenirs but why not taking time to choose something a bit more special? We selected 10 items that you can easily find in the city center. We excluded items that you can immediately find on the internet; at the Airport or at the station.....
				      	</p>
				      	<p class="date">2017/08/14</p>
			      	</a>
			      	<div class="bottom">
				      	<p class="place">
					      	<img src="static/images/common/place_icon.png">
					      	<a href="">Momochihama</a>
				      	</p>
				      	<ul class="tag_list">
	                <li>
	                	<a href="" class="tag">
		                	#Ramen
	                	</a>
	                </li>
	                <li>
	                	<a href="" class="tag">
		                	#Photogenic
	                	</a>
	                </li>
	                <li>
	                	<a href="" class="tag">
		                	#High Ratings
	                	</a>
	                </li>
                </ul>
			      	</div>
		      	</div>
		      	<div class="people_area">
			      	<div class="pic BlogPeople" style="background: url(static/images/common/sample_people.png) center center no-repeat;background-size: cover;"></div>
			      	<span class="talk">No Ramen, No Life!  by youyou</span>
		      	</div>
	      	</article>
	      	<article class="blog_common_block clearfix">
		      	<a href="" class="blog_pic" style="background: url(static/images/common/sample_pic.jpg) center center no-repeat;background-size: cover;">
			      	<span class="tag">Shopping</span>
		      	</a>
		      	<div class="right">
			      	<a href="" class="blog_main_link">
				      	<h1 class="title">Souvenirs in Hakata station</h1>
				      	<p class="text">
					      	There are plenty of regular souvenirs but why not taking time to choose something a bit more special? We selected 10 items that you can easily find in the city center. We excluded items that you can immediately find on the internet; at the Airport or at the station.....
				      	</p>
				      	<p class="date">2017/08/14</p>
			      	</a>
			      	<div class="bottom">
				      	<p class="place">
					      	<img src="static/images/common/place_icon.png">
					      	<a href="">Momochihama</a>
				      	</p>
				      	<ul class="tag_list">
	                <li>
	                	<a href="" class="tag">
		                	#Ramen
	                	</a>
	                </li>
	                <li>
	                	<a href="" class="tag">
		                	#Photogenic
	                	</a>
	                </li>
	                <li>
	                	<a href="" class="tag">
		                	#High Ratings
	                	</a>
	                </li>
                </ul>
			      	</div>
		      	</div>
		      	<div class="people_area">
			      	<div class="pic BlogPeople" style="background: url(static/images/common/sample_people.png) center center no-repeat;background-size: cover;"></div>
			      	<span class="talk">No Ramen, No Life!  by youyou</span>
		      	</div>
	      	</article>
	      	<article class="blog_common_block clearfix">
		      	<a href="" class="blog_pic" style="background: url(static/images/common/sample_pic.jpg) center center no-repeat;background-size: cover;">
			      	<span class="tag">Shopping</span>
		      	</a>
		      	<div class="right">
			      	<a href="" class="blog_main_link">
				      	<h1 class="title">Souvenirs in Hakata station</h1>
				      	<p class="text">
					      	There are plenty of regular souvenirs but why not taking time to choose something a bit more special? We selected 10 items that you can easily find in the city center. We excluded items that you can immediately find on the internet; at the Airport or at the station.....
				      	</p>
				      	<p class="date">2017/08/14</p>
			      	</a>
			      	<div class="bottom">
				      	<p class="place">
					      	<img src="static/images/common/place_icon.png">
					      	<a href="">Momochihama</a>
				      	</p>
				      	<ul class="tag_list">
	                <li>
	                	<a href="" class="tag">
		                	#Ramen
	                	</a>
	                </li>
	                <li>
	                	<a href="" class="tag">
		                	#Photogenic
	                	</a>
	                </li>
	                <li>
	                	<a href="" class="tag">
		                	#High Ratings
	                	</a>
	                </li>
                </ul>
			      	</div>
		      	</div>
		      	<div class="people_area">
			      	<div class="pic BlogPeople" style="background: url(static/images/common/sample_people.png) center center no-repeat;background-size: cover;"></div>
			      	<span class="talk">No Ramen, No Life!  by youyou</span>
		      	</div>
	      	</article>  
        </section>
        
        <ul class="ex_list_up_pager bottom">
          <li class="ex_list_up_pager_item">
            <a href="" class="prev">
              <img src="static/images/ex/left_icon02.jpg">
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              1
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              2
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              3
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            ...
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="common active">
              7
            </a>
          </li>
          <li class="ex_list_up_pager_item">
            <a href="" class="next">
              <img src="static/images/ex/right_icon02.png">
            </a>
          </li>
        </ul>
      </section>
<!--
      <section class="top_movie_wrap">
        <div id="TopMovie"></div>
      </section>
-->
    </div>
    <section class="common_bottom_pic_block">
      <img src="static/images/common/bottom_mv_pic.jpg">
      <a href="" class="common_bottom_pic_btn"><span>Japanese Restaurant SUiTO</span></a>
    </section>
  </div>
  <div class="top_sns_wrap">
	  <div class="top_sns_inner">
		  <div class="share-button">
		    <div class="share-button-secondary">
		      <div class="share-button-secondary-content">
		        share on facebook
		      </div>
		    </div>
		    <div class="share-button-primary">
		      <img src="static/images/common/side_fb.png">
		    </div>
		  </div>
		  <div class="share-button clearfix">
		    <div class="share-button-secondary">
		      <div class="share-button-secondary-content">
		        share on instagram
		      </div>
		    </div>
		    <div class="share-button-primary">
		      <img src="static/images/common/side_insta.png">
		    </div>
		  </div>
		  <div class="share-button">
		    <div class="share-button-secondary">
		      <div class="share-button-secondary-content">
		        share on twitter
		      </div>
		    </div>
		    <div class="share-button-primary">
		      <img src="static/images/common/side_twitter.png">
		    </div>		
		  </div>
		  <div class="change_btn_block">
			  <p class="change_btn" id="SideChangeBtn">
				  <img src="static/images/common/side_change.png">
			  </p>
			  <div class="side_change_money">
			  	<div class="top_money_left sp">
	          <div class="top_money_rate sp">
	            <p class="top_money_date sp">2017/10/01</p>
	            <p class="top_money_change_rate sp">1JPY  ≒  130.77EUR</p>
	          </div>
	          <div class="top_money_change sp">
	            <div class="top_money_inner sp">
	              <input type="text" class="top_money_input sp">
	              <p class="money_type SideMoneyCountry sp" id="SideMoneyOrigin">JPY</p>
	            </div>
	            <img src="static/images/common/change_icon.png" class="change_icon sp" id="SideExChangeBtn">
	            <div class="top_money_inner sp">
	              <input type="text" class="top_money_input sp">
	              <p class="money_type SideMoneyCountry sp" id="SideMoneyChange">EUR</p>
	            </div>
	          </div>
	          <button class="top_money_change_btn sp">calculate</button>
	        </div>
	        <div class="top_money_right sp clearfix">
	          <ul class="top_money_list sp">
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="USD">
	                <img src="static/images/common/usd.png" alt="usd">
	              </p>
	            </li>
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="KRW">
	                <img src="static/images/common/krw.png" alt="krw">
	              </p>
	            </li>
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="TWD">
	                <img src="static/images/common/twd.png" alt="twd">
	              </p>
	            </li>
	            <li class="top_money_item active side_exchange">
	              <p class="top_money_contury" data-contury="EUR">
	                <img src="static/images/common/eur.png" alt="eur">
	              </p>
	            </li>
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="CNY">
	                <img src="static/images/common/cny.png" alt="cny">
	              </p>
	            </li>
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="THB">
	                <img src="static/images/common/thb.png" alt="thb">
	              </p>
	            </li>
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="GBP">
	                <img src="static/images/common/gbp.png" alt="gbp">
	              </p>
	            </li>
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="HKD">
	                <img src="static/images/common/hkd.png" alt="hkd">
	              </p>
	            </li>
	            <li class="top_money_item side_exchange">
	              <p class="top_money_contury" data-contury="AUD">
	                <img src="static/images/common/aud.png" alt="aud">
	              </p>
	            </li>
	          </ul>
	        </div>
		  	</div>
		  </div>
	  </div>
  </div>